* {
    margin: 0;
    padding: 0;
}

body {
   
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
}

main {
    background-image: url(../img/bg/hand-robot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: auto;
    height: 100vh;
    max-height: 900px;
    width: 100%;
    max-width: 600px;
    box-shadow: rgba(0, 179, 192, 0.35) 0px 5px 15px;
    border-radius: 14px;

}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.wrapper {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(69, 2, 114);
}

.icons {
    margin-top: 80px;
}

.icons ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
}

.icons li img {
    width: 64px;
    border-radius: 50%;
    box-shadow: rgba(0, 202, 252, 0.685) 0px 5px 15px;
}

.icons a:nth-child(1) {
    padding-top: 20px;

}

.icons a:nth-child(3) {
    padding-top: 20px;
}   


.icons li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@keyframes btTop {
    from {
        padding-bottom: 50%;
    }

    to {
        padding-bottom: 0;
    }
}


