* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
}

main {
    background-image: url(../img/bg/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: auto;
    height: 100vh;
    max-height: 900px;
    width: 100%;
    max-width: 600px;
    box-shadow: rgba(0, 179, 192, 0.35) 0px 5px 15px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.wrapper {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 4px;
    background: #3e14a0;  
    background: -webkit-linear-gradient(to right, #f44e42, #3e14a0);  
    background: linear-gradient(to right, #f44e42, #3e14a0); 
}

.wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icons {
    margin: auto;
    height: 250px;
    width: 80%;
    border-radius: 12px;
    background-color: #00ffff27;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: #b8ffff27 0px 14px 28px, #b8ffff27 0px 10px 10px;
}

.icons ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style: none;
}

.icons li img {
    width: 48px;
    border-radius: 50%;
    box-shadow: rgba(0, 202, 252, 0.685) 0px 5px 15px;
}

.icons li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@keyframes btTop {
    from {
        padding-bottom: 50%;
    }

    to {
        padding-bottom: 0;
    }
}



@media (max-width: 350px) {
    .wrapper {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }

    .icons li img {
        width: 40px;
    }

    .icons {
        margin-top: 56px;
    }
}


